@font-face {
    font-family: 'Adieu';
    src: url('font/Adieu-Bold.woff2') format('woff2'),
        url('font/Adieu-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Neurial Grotesk';
        src: url('font/Neurial_Grotesk/NeurialGrotesk-Regular.woff') format('woff') font-weight-normal,
        url('font/Neurial_Grotesk/NeurialGrotesk-Medium.woff') format('woff') font-weight-medium,
             url('font/Neurial_Grotesk/NeurialGrotesk-Bold.woff') format('woff') font-weight-bold;
}

:root {
    --first-color: #4151DA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 3000px;
    background-color: var(--first-color);
    font-family: Neurial Grotesk;
    font-weight: normal;
    font-size: 30px;
}
p{
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.home{
    font-family: Adieu;
}
