@font-face {
    font-family: 'Adieu-bold';
    src: url('font/Adieu/bold/adieu-bold.eot') format('eot'),
         url('font/Adieu/bold/adieu-bold.svg') format('svg'),
         url('font/Adieu/bold/adieu-bold.ttf') format('ttf'),
         url('font/Adieu/bold/adieu-bold.woff') format('woff'),
         url('font/Adieu/bold/adieu-bold.woff2') format('woff2');
        font-weight: bold;
}
@font-face {
    font-family: 'Adieu-light';
    src: url('font/Adieu/light/adieu-light.eot') format('eot'),
         url('font/Adieu/light/adieu-light.svg') format('svg'),
         url('font/Adieu/light/adieu-light.ttf') format('ttf'),
         url('font/Adieu/light/adieu-light.woff') format('woff'),
         url('font/Adieu/light/adieu-light.woff2') format('woff2');
        font-weight: lighter;
}

@font-face {
    font-family: 'Neurial Grotesk regular';
        src: url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.eot') format('eot'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.svg') format('svg'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.ttf') format('ttf'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.woff') format('woff'),
             url('font/Neurial_Grotesk/regular/neurialgrotesk-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Neurial Grotesk medium';
        src: url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.eot') format('eot'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.svg') format('svg'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.ttf') format('ttf'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.woff') format('woff'),
             url('font/Neurial_Grotesk/medium/neurialgrotesk-medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Neurial Grotesk bold';
        src: url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.eot') format('eot'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.svg') format('svg'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.ttf') format('ttf'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.woff') format('woff'),
             url('font/Neurial_Grotesk/bold/neurialgrotesk-bold.woff2') format('woff2');
}

/* "TEMPLATE" */
:root {
    --first-color: #4151DA;
    --bg-color: #EFEFEF;
}
.placeholder{
    display: none;
}
.active{
    border-bottom: 1px solid white;
}
.flex-display-center-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: center; /* main axis of conatiner - H */
}
.flex-display-center-start{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: flex-start; /* main axis of conatiner - H */
}
.flex-display-sa-start{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: flex-start; /* all children on cross axis - vertical center*/
    justify-content: space-around; /* main axis of conatiner - H */
}
.flex-display-sa-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: space-around; /* main axis of conatiner - H */
}
.flex-display-sb-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: space-between; /* main axis of conatiner - H */
}
.column{
    flex-direction: column;
}
.menu{
    display: none;
}
.menu_icon{
    display: none;
    background-color: red;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Neurial Grotesk regular;
    font-size: 1rem;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}
.button{
    border-radius: 50px;
    height: 39px;
    width: 13vw;
    max-width: 157px;
    font-family: Adieu-bold;
    cursor: pointer;
    font-size: 00.83rem;
}
.button_secondary{
    border-radius: 50px;
    height: 39px;
    width: 160px;
    font-family: Neurial Grotesk medium;
    cursor: pointer;
}
.btn-light-primary{
    background-color: #fff;
    color: var(--first-color);
}
.btn-dark-primary{
    background-color: var(--first-color);
    color: white;
}
.btn-light-secondary{
    border: 1px solid white;
}
.btn-light-tertiary{
    text-decoration: underline;
    font-family: Adieu-light;
}
.div_line{
    width: 95%;
    height: 1px;
    background-color: var(--first-color);
    margin: 0 auto;
}
.hero{
    background-color: var(--first-color);
    min-height: 100vh;
}
.navbar{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    background-color: var(--first-color);
    padding: 0 24px;
    color: white;
    font-family: Adieu-light;
    margin: 0 auto;
    width: 85%;
    height: 65px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
    border-radius: 45px;
    font-size: 0.83rem;
}
.sections{
    width: 63%;
    display: flex;
    justify-content: space-around;
}
.home img{
    width: 32px;
}
.title{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}
.title img{
    width: 65%;
}

.image-container {
    position: absolute;
    height: 50vh;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}
.custom-element {
    width: 290px;
    height: 290px;
    position: absolute;
}
.custom-element img {
    width: 190px;
    height: 190px;
}

.custom-element:nth-child(1) {
    left: 65%;
    top: 18%;
}
.custom-element:nth-child(2) {
    left: 16%;
    top: 46%;
}
.custom-element:nth-child(3) {
    left: 46%;
    top: -6%;
}
.custom-element:nth-child(4) {
    left: 3%;
    top: 7%;
}
.custom-element:nth-child(5) {
    left: 22%;
    top: 2%;
}
.custom-element:nth-child(6) {
    left: 44%;
    top: 56%;
}
.custom-element:nth-child(7) {
    left: 40%;
    top: 24%;
}

.wrapper {
    position: absolute;
    top: 83%;
    left: 13%;
    flex-wrap: nowrap;
    color: white;
    width: 70%;
}
.description-text{
   width: 55%;
   font-size: 16px;
}
.buttons{
    display: flex;
}
.video{
    position: absolute;
    height: auto;
    width: 900px;
    top: 50%;
    left: 50%;      
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1001;
}
.close-button{
    position: absolute;
    left: 98%;
    top: -6%;
    height: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}
.darken{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}
.show{
    opacity: 1;
    z-index: 1000;
    visibility: visible;
}


.caratteristiche{
    width: 94%;
    position: relative;
    margin: 10vh 3%;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.toggle{
    position: absolute;
    top: 0%;
    transform: translate(0, -50%);
    border-radius: 40px;
    filter: drop-shadow(0px 2px 9px rgba(0, 0, 0, 0.05));
    width: 25%;
    height: 64px;
    margin: 0vh auto;
    background-color: white;
}
.interessi{
    height: 70%;
    width: 30%;
    margin: 0 3vh;
    cursor: pointer;
    border-bottom: 3px solid #EFEFEF;
}
.colleghi{
    height: 70%;
    width: 30%;
    margin: 0 3vh;
    cursor: pointer;
    border-bottom: 3px solid #EFEFEF;
    padding-bottom: 3px;
}
.selected{
    border-bottom: 3px solid var(--first-color);
}
.selected-svg{
    fill: var(--first-color);
}

.interessi-card .section-title{
    margin: 11vh 0 8vh;
}
.colleghi-card .section-title{
    margin: 11vh 0 8vh;
}
.not-displayed{
    display: none;
}
.section-title{
    font-family: Adieu-light;
    margin: 0 0 8vh;
}
.splash-title{
    font-family: Adieu-bold;
    font-size: 2.8rem;
    line-height: 50px;
    width: 70%;
    text-align: center;
}

#smWrapper {
    height: 100vh;
    width: 100%;
}

.app-wrapper{
    height: 100vh;
    margin: 20px 0;
}
.mockup{
    width: 45%;
}
.medium_t_16{
    font-size: 16px;
    font-family: Neurial Grotesk medium;
    max-width: 14%;
}
.text-left{
    position: relative;
    top: -85%;
    margin-left: 8%;
    text-align: end;
}
.text-right{
    position: absolute;
    top: 55%;
    right: 8%;
}
.category-carousel{
    max-width: 1050px;
    width: 90vw;
    height: 200px;
    margin: 10vh;
}
.carousel_icon{
    height: 151px;
}
.content_wrapper{
    position: relative;
    height: 100%;
}
.content_wrapper img {
    width: 30%;
    min-height: 40%;
    margin-bottom: 10px;
}

.features{
    margin: 15vh 0 10vh;
    display: flex;
    max-width: 85%;
}
.features img{
    width: 25%;
    margin: 0 30px;
}
.feature-title{
    text-align: start;
    font-family: Adieu-bold;
    font-size: 2.8rem;
    line-height: 50px;
}
.start, .join{
    display: flex;
    margin-bottom: 10vh;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}
.join{
    align-items: flex-end;
    margin-top: -22vw;
    /* justify-content: flex-end; */
}
.sub_t{
    width: 45%;

}
.sub_t span{
    width: 80%;
}
.txt-right-al{
    text-align: right;
}

/* CARD COLLEGHI */
#smWrapper_c {
    height: 100vh;
    width: 100%;
}
.text-left_c{
    max-width: 17%;
    position: relative;
    top: -55%;
    left: 2%;
    text-align: end;
}
.text-right_c{
    max-width: 17%;
    position: relative;
    top: -85%;
    left: 81%;
}
.icone_cerchie{
    margin: 0 3vw;
}
.cerchie{
    margin-bottom: 1vh;
}
.ice-breaker{
    display: flex;
    align-items: flex-start;
}


/* PRICING SECTION  */
.pricing{
    margin: 0 0 7.5vh 0
}
.card-wrapper{
    width: 80%;
    margin: 8vh 0 2vh;
}
.card{
    height: 380px;
    width: 345px;
    margin: 0 8px;
    border: 1px solid var(--first-color);
    border-radius: 22px;
    padding-bottom: 3vh;
}
.head-section{
    background-color: var(--first-color);
    color: white;
    width: 100%;
    height: 30%;
    text-align: center;
    border-radius: 20px ;
}
.head-section span{
    font-family: Neurial Grotesk bold;
    font-size: 18px;
}
.price-section{
    font-size: 38px;
    text-align: center;
    line-height: 18px;
}
.price-section span {
    font-size: 0.63rem;
}


/* REVIEW SECTION */
.review{
    margin: 7.5vh 0 0;
    height: auto;
}
.review-wrapper{
    width: 90%;
    height: 200px;
    margin: 15vh 0;
}
.review-card{
    height: 100%;
    width: 33.33%;
}
.text-review{
    width: 80%;
}
.review-person{
    width: 100%;
    font-size: 12px;
    margin-left: 3vw;
}
.person-photo img{
    border-radius: 50%;
    height: 69px;
}
.person-bio{
    margin-left: 2vw;
}
.person-bio span{
    font-family: Neurial Grotesk medium;
}

/* FAQ SECTION */
.faq{
    margin: 7.5vh 0;
    height: 60vh;
}
.faq-wrapper{
    width: 95%;
    margin-top: 3vh;
    align-items: flex-start;
}
.faq-card{
    width: 28%;
    padding: 1.7vh 1.7vw;
    border-radius: 20px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    justify-content: flex-start;
}
.faq-card span{
    width: 95%;
    font-family: Neurial Grotesk medium;
    margin-bottom: 2vh;
    color: var(--first-color);
}
.answer{
    width: 90%;
    font-size: 0.86rem;
}

/* FOOTER */
.footer{
    max-width: 100%;
    background-color: var(--first-color);
    font-size: 0.83rem;
    padding: 3vh;
    color: white;
    line-height: 20px;
}
.display-info{
    width: 85%;
    margin: 0 auto;
}
.contacts a span{
    font-family: Neurial Grotesk bold;
}
.socials{
    margin: 3vh 0 0;
}
.socials a svg{
    fill: white;
}
.socials a svg:hover{
    fill: var(--bg-color);
}
.policy span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.download-badge img{
    width: 134px;
}


/* SUBSCRIBE FORM */
.body-container{
    display: flex;
    height: 100vh;
}
.form-wrapper{
    position: absolute;
    width: 70%;
    height: 60%;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    justify-content: space-between;
    box-sizing: border-box;
}
.form-txt{
    width: 30%;
}
.form-txt span{
    font-family: Adieu-bold;
    font-size: 28px;
    line-height: 34px;
}
.form-card{
    border: 1px solid var(--first-color);
    border-radius: 16px;
    width: 60%;
    padding: 3vh;
}
.form-card p{
    text-align: end;
    font-size: 11px;
    margin:0 1vh 4vh 0;
}
.client-info{
    display: flex;
}
input{
    border-style: hidden;
    width: 48%;
    height: 34px;
    margin: 1vh 1vh;
    padding: 0 8px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #c4c4c4 
}
input:placeholder{
    color: #c4c4c4;
}
.personal{
    width: 100%;
}
.email{
    width: auto;
}
.captcha{
    width: 50%;
    align-self: center;
    margin: 5% 0;
}
.submit{
    align-self: center;
    margin-top: 3%;
    border: none;
}





@media screen and (min-width: 1440px) {
    .sub_t span {
        width: 60%;
    }
}
@media screen and (max-width: 1024px) {
    .video{
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .div_line{
        width: 90%;
    }
    body{
        max-width: 100vw;
    }
   .navbar{
       display: none;
       box-sizing: border-box;
       left: 0;
       transform: translate(0);
   }
   .fix{
       overflow-y: hidden;
   }
   .menu{
       display: flex;
       position: fixed;
       left: 100%;
       height: 100vh;
       width: 100vw;
       background: rgba(255, 255, 255, 0.5);
       backdrop-filter: blur(15px);
       z-index: 10;
       transition: 0.4s cubic-bezier(0.94, 0.06, 0.12, 0.83);
    }
   .menu a{
       margin: 5vh 0;
       color: var(--first-color);
       font-family: Neurial Grotesk medium;
       font-size: 18px;
   }
   .subscribe_mob{
        border: 1px solid var(--first-color);
        background-color: unset;
        width: auto;
        color: var(--first-color);
   }
   .menu_vis{
       left: 0%;
   }

   .menu_icon{
       display: flex;
        position: fixed;
        right: 10%;
        top: 8%;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
        z-index: 10000;
    }
   .image-container{
    transform: translate(-50%, -73%);
   }
   .custom-element{
       width: auto;
       height: auto;
   }
    .custom-element img {
       width: 100px;
       height: 100px;
   }
   .custom-element:nth-child(1) {
        left: 88%;
        top: 32%;
    }
    .custom-element:nth-child(2) {
        left: -16%;
        top: 61%;
    }
    .custom-element:nth-child(3) {
        left: 36%;
        top: 24%;
    }
    .custom-element:nth-child(4) {
        left: -44%;
        top: 33%;
    }
    .custom-element:nth-child(5) {
        left: 0%;
        top: 32%;
    }
    .custom-element:nth-child(6) {
        left: 44%;
        top: 61%;
    }
    .custom-element:nth-child(7) {
        left: 40%;
        top: 37%;
    }
   .video{
       width: 80%;
       height: 25%;
   }
   .close-button {
    left: 94%;
    top: -17%;
    }

   .title{
        width: 80%;
        transform: translate(-50%, -105%);
    }
    .title img{
        width: 100%;
    }
    .wrapper{
        flex-direction: column;
        top: 65%;
        width: 75%;
        height: 30vh;
    }
    .description-text{
        width: 100%;
        margin-bottom: 4vh;
    }
    .buttons{
        flex-direction: column;
        white-space: nowrap;
    }
    .button {
        border-radius: 50px;
        width: auto;
        padding: 0 20px;
        max-width: 157px;
        font-family: Adieu-bold;
        cursor: pointer;
        font-size: 00.83rem;
    }
    .toggle{
        width: auto;
    }
    .interessi, .colleghi{
        width: 23%;
    }
    .splash-title{
        font-size: 1.6rem;
        line-height: 30px;
        width: 85%;
    }
    .app-wrapper{
        padding: 5vh 0;
        align-items: flex-start;
        height: unset;
    }
    .text-left{
        top: 0%;
        margin-left: 8%;
        text-align: start;
        max-width: unset;
    }
    .text-right{
        position: relative;
        max-width: unset;
        top: unset;
        margin-left: 16%;
    }
    #smWrapper, #smWrapper_c{
        height: auto;
        margin-bottom: 8vh;
    }
    .text-left_c{
        top: 0%;
        left: 0%;
        margin-left: 8%;
        text-align: start;
        max-width: unset;
    }
    .text-right_c{
        max-width: unset;
        top: unset;
        margin-left: 8%;
        left: 0%;
    }
    .cerchie{
        flex-direction: column;
    }
    .icone_cerchie{
        margin: 5vh 0;
    }
    .ice-breaker{
        flex-direction: column;
    }

    /* CATEGORIES CAROUSEL */
    .category-carousel{
        width: 90vw;
        margin: 0;
    }
    .content_wrapper{
        height: 70%;
    }
    .content_wrapper img{
        width: unset;
    }
    .carousel_icon {
        height: 200px;
    }

    .features{
        margin: 5vh 0;
    }
    .features img{
        width: 50%;
        margin: 24px 0;
    }
    .start, .join{
        /* align-items: center; */
        flex-direction: column;
    }
    .join{
        margin: 0;
        flex-direction: column-reverse;
    }
    .sub_t{
        width: auto;
    }
    .feature-title{
        font-size: 1.6rem;
        line-height: 30px;
    }
    .card-wrapper{
        flex-direction: column;
    }
    .card{
        margin: 8px 0;
    }
    
    .review-wrapper{
        height: auto;
        width: 80%;
    }
    .review-card{
        box-sizing: border-box;
        display: flex !important;
        width: 90% !important;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        margin: 8px auto;
        padding: 10px 5px;
    }  
    .faq{
        height: unset;
    } 
    .faq-wrapper{
        flex-direction: column;
    }
    .faq-card{
        box-sizing: border-box;
        width: 90%;
        margin: 10px auto;
        padding: 1.7vh 3vh;
    }
    .display-info{
        width: 95%;
        flex-wrap: wrap;
    }
    .download-badge{
        flex-direction: row;
         margin-top: 2vh;
    }



    /* FORM */
    .form-wrapper {
        flex-direction: column;
        height: unset;
        border-radius: 16px;
        left: 50%;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .form-txt{
        width: unset;
        margin: 0 0 3vh 0;
    }
    .form-card{
        width: 90%;
        font-size: 10px;
        margin: 0 0vh 2vh 0;
    }
    input{
        width: 90%;
    }
    .personal{
        flex-direction: column;
    }
    .dipendenti{
        flex-shrink: 2;
    } 
}


/* CELLPHONE */
@media screen and (max-width: 480px) {
    /* .darken, .pricing, .review, .faq, .footer {
        display: none;
    } */
    .div_line{
        width: 90%;
    }
    body{
        max-width: 100vw;
    }
   .navbar{
       display: none;
       box-sizing: border-box;
       left: 0;
       transform: translate(0);
   }
   .fix{
       overflow-y: hidden;
   }
   .menu{
       display: flex;
       position: fixed;
       left: 100%;
       height: 100vh;
       width: 100vw;
       background: rgba(255, 255, 255, 0.5);
       backdrop-filter: blur(15px);
       z-index: 10;
       transition: 0.4s cubic-bezier(0.94, 0.06, 0.12, 0.83);
    }
   .menu a{
       margin: 5vh 0;
       color: var(--first-color);
       font-family: Neurial Grotesk medium;
       font-size: 18px;
   }
   .subscribe_mob{
        border: 1px solid var(--first-color);
        background-color: unset;
        width: auto;
        color: var(--first-color);
   }
   .menu_vis{
       left: 0%;
   }

   .menu_icon{
        position: fixed;
        right: 10%;
        top: 8%;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
        z-index: 10000;
    }
   .image-container{
    transform: translate(-50%, -73%);
   }
   .custom-element{
       width: auto;
       height: auto;
   }
    .custom-element img {
       width: 100px;
       height: 100px;
   }
   .custom-element:nth-child(1) {
        left: 88%;
        top: 32%;
    }
    .custom-element:nth-child(2) {
        left: -16%;
        top: 61%;
    }
    .custom-element:nth-child(3) {
        left: 36%;
        top: 24%;
    }
    .custom-element:nth-child(4) {
        left: -44%;
        top: 33%;
    }
    .custom-element:nth-child(5) {
        left: 0%;
        top: 32%;
    }
    .custom-element:nth-child(6) {
        left: 44%;
        top: 61%;
    }
    .custom-element:nth-child(7) {
        left: 40%;
        top: 37%;
    }
   .video{
       width: 80%;
       height: 25%;
   }
   .close-button {
    left: 94%;
    top: -17%;
    }

   .title{
        width: 80%;
        transform: translate(-50%, -105%);
    }
    .title img{
        width: 100%;
    }
    .wrapper{
        flex-direction: column;
        top: 65%;
        width: 75%;
        height: 30vh;
    }
    .description-text{
        width: 100%;
        margin-bottom: 4vh;
    }
    .buttons{
        flex-direction: column;
        white-space: nowrap;
    }
    .button {
        border-radius: 50px;
        width: auto;
        padding: 0 20px;
        max-width: 157px;
        font-family: Adieu-bold;
        cursor: pointer;
        font-size: 00.83rem;
    }
    .toggle{
        width: auto;
    }
    .interessi, .colleghi{
        width: 23%;
    }
    .splash-title{
        font-size: 1.6rem;
        line-height: 30px;
        width: 85%;
    }
    .app-wrapper{
        padding: 5vh 0;
        align-items: flex-start;
        height: unset;
    }
    .text-left{
        top: 0%;
        
        margin-left: 8%;
        text-align: start;
        max-width: unset;
    }
    .medium_t_16{
        font-family: Neurial Grotesk regular;
        width: 85%;
    }
    #smWrapper, #smWrapper_c{
        height: 85vh;
    }
    .text-left_c{
        top: 0%;
        left: 0%;
        margin-left: 8%;
        text-align: start;
        max-width: unset;
    }
    .text-right_c{
        max-width: unset;
        top: unset;
        margin-left: 8%;
        left: 0%;
    }
    .cerchie{
        flex-direction: column;
    }
    .icone_cerchie{
        margin: 5vh 0;
    }
    .ice-breaker{
        flex-direction: column;
    }
    .category-carousel{
        width: 90vw;
        margin: 0;
    }
    .content_wrapper{
        height: 70%;
    }
    .content_wrapper img{
        width: 60%;
    }

    .features{
        margin: 5vh 0;
    }
    .features img{
        width: 70%;
        margin: 24px 0;
    }
    .start, .join{
        /* align-items: center; */
        flex-direction: column;
    }
    .join{
        margin: 0;
        flex-direction: column-reverse;
    }
    .sub_t{
        width: auto;
    }
    .feature-title{
        font-size: 1.6rem;
        line-height: 30px;
    }
    .card-wrapper{
        flex-direction: column;
    }
    .card{
        margin: 8px 0;
        height: 260px;
    }
    
    .review-wrapper{
        height: auto;
        width: 80%;
    }
    .review-card{
        box-sizing: border-box;
        display: flex !important;
        width: 90% !important;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        margin: 8px auto;
        padding: 10px 5px;
    }  
    .faq{
        height: unset;
    } 
    .faq-wrapper{
        flex-direction: column;
    }
    .faq-card{
        box-sizing: border-box;
        width: 90%;
        margin: 10px auto;
        padding: 1.7vh 3vh;
    }
    .display-info{
        width: 95%;
        flex-wrap: wrap;
    }
    .download-badge{
        flex-direction: row;
         margin-top: 2vh;
    }



    /* FORM */
    .form-wrapper {
        flex-direction: column;
        height: unset;
        border-radius: 16px;
        left: 50%;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .form-txt{
        width: unset;
        margin: 0 0 3vh 0;
    }
    .form-card{
        width: 90%;
        font-size: 10px;
        margin: 0 0vh 2vh 0;
    }
    input{
        width: 90%;
    }
    .personal{
        flex-direction: column;
    }
    .dipendenti{
        flex-shrink: 2;
    }
}